
<div class='page-dividor mt-3 mb-3 col-md-10'>
  <div class='page-right col-md-12 d-flex justify-content-end' style='text-align: left; height: 310px'>
    <div class='col-md-11'>
      <img src="https://images.unsplash.com/photo-1667133295308-9ef24f71952e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVudGlzdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-circle" style="width:280px;height:280px;">
    </div>
  </div>
  <div class='page-left col-md-12  d-flex justify-content-end' style='padding-right:15px; text-align: justify; height:310px'>
    <div class='col-md-9'>
      <p>
        This company has been up and running since 1846. That is a length no actual
        dentistry company can claim, however it could seems quite interesting.
        We've worked on my sets of teeth, including but not limited to: Alberta Einsteinian,
        Adolf Hitler's Grandfather and a 20 year old Queen Elizabeth.
        Our employees strive to deliver the best service to ease their customers minds
        9 out of 10 dentists wish they could work here.
      </p>
    </div>
  </div>

</div>

