<div class='page-dividor mt-3 mb-3'>
  <div class='page-left d-flex justify-content-end' style='text-align: right; width: 500px; height:310px'>
    <img src="https://images.unsplash.com/photo-1607613009820-a29f7bb81c04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZGVudGlzdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-circle" style="width:300px;height:300px; display: flex; justify-content: flex-end" >
  </div>
  <div class='page-right' style='height:310px'>
    <ul style='margin-bottom: 5px'>
    <p><li>Root Canals</li></p>
    <p><li>Tooth Removals</li></p>
    <p><li>Orthodontion</li></p>
    <p><li>Cleaning</li></p>
    </ul>
  </div>
</div>