<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid col-md-10" style='height:50px'>
    <div class='col-md-3'>
      <a class='nav-link', style='color: grey' href="https://google.com">Website by NDG</a>
    </div>
    <div class='col-md-3'>
      <%= link_to "Copyright © 2023 Dr Daniella Salvatierra", '#', class:'nav-link', style:'color:grey'%>
    </div>
    <div class='col-md-3' style='text-align: right'>
      <%= link_to "@ Tooth Doctor Amalgamated", '#', class:'nav-link', style:'color:grey'%>
    </div>
  </div>
</nav>